.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navbar Styling */

.navbar-main{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 50px;
}

.navbar-main a{
  text-decoration: none;
  color:black;
}

.navbar-sign-in-up a{
  margin-right: 50px;
}

.navbar-sign-in-up{
  display:flex;
}

.navbar-title{
  margin-left: 50px;
}

/* End Navbar Styling */